@import "bootstrap/dist/css/bootstrap.min.css";

.header {
    background-color: #580d0d;
}

.header nav img {
    width: 70px;
    height: 70px;
}

.header nav a {
    color: #e9e8df;
    text-decoration: none;
}

.header nav a:hover {
    color: #ded7d1;
}